<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block page_title %}
		<title>DimeErp</title>
	{% endblock %}
	{% block stylesheets %}
		{% stylesheets %}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/dimefrontend/css/dime.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/dimefrontend/') }}">
	{% endblock %}
</head>
<body class="dbootstrap">
	{% block loader %}
		<!-- basic preloader: -->
		<div id="loader">
			<div id="loaderInner" style="direction:ltr;">Loading ...</div>
		</div>
	{% endblock %}
	{% block content %}
		<!-- application -->
		<div id="main" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'">
			{% block mainmenu %}
				{{ include('DimeFrontendBundle:Menu:mainmenu.html.twig') }}
			{% endblock %}
			{% block sidebar %}
				{{ include('DimeFrontendBundle:Menu:sidebar.html.twig') }}
			{% endblock %}
			{% block tab_container %}
				{{ include('DimeFrontendBundle:Container:tabcontainer.html.twig') }}
			{% endblock %}
		</div>
	{% endblock %}
	<!-- load Dojo -->
	{% block javascripts %}
		<script>
			var dojoConfig = {
				async: true,
				baseUrl: 'bundles/dimefrontend/js',
				isDebug: true,
				parseOnLoad: true,
				packages: [
					'dbootstrap',
					'dime',
					'dojo',
					'dijit',
					'dojox',
					'dojo-bootstrap',
					'xstyle',
					'put-selector',
					'dgrid'
				]
			};
		</script>
		{% javascripts
			'@dojo' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
	<script>
		require([
			"dime/app",
			"dojo/domReady!"
			],
			function(dimeApp) {
				app = new dimeApp();
				app.init();
			}
		)
	</script>
</body>
</html>