<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
	<dynamic-page page-size="a4">
		<div class="logo"><img src="{{ pdf_image('SwoCommonsBundle:swo_logo_big.png') }}" width="200"/></div>
		<div class="title">Aufwandsreport</div>
		{% if report.project != null %}
			<!--<div class="title description">Projekt: {{ report.project.name }}</div>-->
			<div class="title description">Projekt: {{ report.project.description|nl2br }}</div>
		{% endif %}
		{% if report.start and report.end %}
			<div class="title description">Von: {{ report.start|date("d.m.Y") }}
		                                   bis: {{ report.end|date("d.m.Y") }}</div>{% endif %}
		{% if report.start and not report.end %}
			<div class="title description">Von: {{ report.start|date("d.m.Y") }}</div>{% endif %}
		{% if report.employee != null %}
			<div class="title description">Report für {{ report.employee.fullname }}</div>{% endif %}
		<table class="maintable">
			<tr class="thead">
				<td class="firstrow">Datum</td>
				<td class="secondrow">Bezeichnung</td>
				<td class="thirdrow number">Anzahl</td>
				<td class="fourthrow">Einheit</td>
			</tr>
			{% for date, item in reportItems %}
				{% if item.timeslices is defined %}
					{% for slice in item.timeslices %}
						<tr class="tbody">
							<td class="firstrow">{{ slice.startedAt|date('d.m.Y') }}</td>
							<td class="secondrow">{{ slice.activity.service.name }}</td>
							<td class="thirdrow number">{{ slice.serializeValue(false) }}</td>
							<td class="fourthrow">{{ slice.activity.rateUnitType.name }}</td>
						</tr>
					{% endfor %}
				{% endif %}
				{% if item.comment is defined %}
					<tr class="tbody">
						<td>{{ date }}</td>
						<td>Kommentar:</td>
						<td colspan="2">{{ item.comment | nl2br }}</td>
					</tr>
				{% endif %}
				<tr class="tbody">
					<td colspan="4">
						<hr/>
					</td>
				</tr>
			{% endfor %}
		</table>
		{% if report.employee != null %}
			<div class="title">Gesamt Stunden: {{ report.getSumHours() }}</div>
		{% endif %}
	</dynamic-page>
</pdf>