{% set customer = offer.customer %}
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
	<dynamic-page page-size="a4">
		<placeholders>
            <footer>
                <div height="20px" width="100%" class="pagenumber">
                    <page-info format="Seite %s/%s" />
                </div>
            </footer>
        </placeholders>
		<div class="logo"><img src="{{ pdf_image('SwoCommonsBundle:swo_logo_big.png') }}" width="200"/></div>
		<div >
            {{ invoiceconfig.senderName }}<br/>
            {{ invoiceconfig.senderStreet }} {{ invoiceconfig.senderStreetnumber }}<br/>
            {{ invoiceconfig.senderPlz }} {{ invoiceconfig.senderCity }}<br/>
            Telefon: {{ invoiceconfig.senderPhone }}<br/>
            Mail: {{ invoiceconfig.senderMail }}<br/>
            {{ invoiceconfig.senderWeb }}<br/>
		</div>
		{% if offer.address %}
			{% set address = offer.address %}
			<div class="recipientAddress">
				{%  if customer.company %}{{ customer.company }}{% endif %}<br/>
				{% if customer.department %}{{ customer.department }}{% endif %}<br/>
				{% if customer.salutation %}{{ customer.salutation }} {% endif %}
				    {% if customer.fullname %}{% if customer.salutation and customer.fullname|length > 25 %}<br/>{% endif %}{{ customer.fullname }}
				    {% else %}{% if customer.salutation and customer.name|length > 25 %}<br/>{% endif %}{{ customer.name }}{% endif %}<br/>
				{{ address.street }}<br/>
                {% if address.supplement %}{{ address.supplement }}<br/>{% endif %}
				{{ address.plz }} {{ address.city }}<br/>
				{% if address.country %}{{ address.country }}{% endif %}<br/>
			</div>
		{% endif %}
		<div class="header">
			<div class="ortdatum">{{ invoiceconfig.senderCity }}, {{ offer.updatedAt|date("d.m.Y") }}</div><br/>
			{% if offer.accountant %}
			<div class="accountant">Sachbearbeiter: {{ offer.accountant }}</div><br/>
			{% endif %}
			<div class="idkey">Offerte {{ offer.name }}</div><br/>
			<div class="title-o">Leistungsangebot Nr. {{ offer.id }}</div><br/>
			{% if offer.project %}
			<div class="projectID">Projekt Nr. {{ offer.project.id }}</div><br/>
			{% endif %}
			{% if offer.shortdescription %}
			<div class="offerShortDescription">{{ offer.shortdescription }}</div><br/>
			{% endif %}
			{% if offer.description %}
				<div class="offerDescription" >{{ offer.description|extra_markdown|hpnobreak }}</div><br/>
			{% endif %}
		</div>
		<div breakable="false">
		<table class="maintable" breakable="false">
			<tr class="thead">
				<td class="firstrow">Bezeichnung</td>
				<td class="secondrow number">Ansatz CHF</td>
				<td class="thirdrow">Einheit</td>
				<td class="fourthrow number">Anzahl</td>
				<td class="fifthrow number">MwSt Satz</td>
				<td class="sixthrow number">Teilbetrag CHF inkl MwSt.</td>
			</tr>
			{% for position in offer.offerPositions %}
				{% if position.amount %}
			<tr class="tbody">
				<td>{% if position.service %}{{ position.service.name }}{% else %}-{% endif %}</td>
				<td class="number">{{ position.rateValue }}</td>
				<td>{{ position.rateUnit }}</td>
				<td class="number">{{ position.amount }}</td>
				<td class="number">{{ position.vat*100 }}%</td>
				<td class="number">{{ position.total }}</td>
			</tr>
				{% endif %}
			{% endfor %}
			<tr class="tfoot">
				<td colspan="5" class="number">Subtotal ohne MwSt.</td>
				<td class="number">{{ offer.getTotalWithoutVAT() }}</td>
			</tr>
			<tr class="tbody">
				<td colspan="5" class="number">MwSt.</td>
				<td class="number">{{ offer.totalVAT }}</td>
			</tr>
			<tr class="tbody">
				<td colspan="5" class="number">Subtotal</td>
				<td class="number">{{ offer.subtotal }}</td>
			</tr>
		</table>
			{% if offer.totalDiscounts != '.0' %}
		<table class="discounttable" breakable="false">
			<tr class="thead">
				<td class="firstrow number">Abzug</td>
				<td class="secondrow number">Betrag</td>
			</tr>
			{% for discount in offer.offerDiscounts %}
				<tr class="tbody">
					<td class="number">{{ discount.name }}</td>
					<td class="number">{% if discount.percentage %}{{ discount.value*100 }}%{% else %}{{ discount.value }} CHF{% endif %}</td>
				</tr>
			{% endfor %}
			<tr class="tfoot">
				<td class="number">Abzüge Total</td>
				<td class="number">{{ offer.totalDiscounts }}</td>
			</tr>
		</table>
			{% endif %}
		<table class="sumtable" breakable="false">
			<tr class="tfoot">
				<td>Gesamtkosten</td>
				<td></td>
				<td class="number">{{ offer.total }}</td>
			</tr>
		</table>
		</div>
		<div class="footer" breakable="false">
			{% if offer.validTo %}
			<div class="title">Bitte unterschrieben retournieren bis spätestens: {{ offer.validTo|date("d.m.Y") }}</div>
			{% endif %}
			<div class="signature">
				<div class="title">Unterschrift des Auftragnehmers:</div>
				<div class="locdate">Ort/Datum</div>
				<div class="dateline">{{ invoiceconfig.senderCity }}: {{ "now"|date("d.m.Y") }}</div>
			</div>
			<div class="signature">
				<div class="title">Unterschrift des Auftraggebers:</div>
				<div class="locdate">Ort/Datum</div>
				<div class="dateline">........................................</div>
			</div>
		</div>
	</dynamic-page>
</pdf>
