<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
	<dynamic-page page-size="a4">
		<div class="logo"><img src="{{ pdf_image('SwoCommonsBundle:swo_logo_big.png') }}"/></div>
		<div class="title">Aufwandsreport</div>
		{% if report.project != null %}
			<div class="title description">{{ report.project.description }}</div>{% endif %}
		{% if report.start and report.end %}
			<div class="title description">Von: {{ report.start|date("d.m.Y") }}
		                                   bis: {{ report.end|date("d.m.Y") }}</div>{% endif %}
		{% if report.start and not report.end %}
			<div class="title description">Von: {{ report.start|date("d.m.Y") }}</div>{% endif %}
		{% if report.user is defined %}<div class="title description">Report für {{ report.user.fullname }}</div>{% endif %}
		<table class="maintable">
			<tr class="thead">
				<td class="firstrow">Datum</td>
				<td class="secondrow">Bezeichnung</td>
				<td class="thirdrow number">Anzahl</td>
				<td class="fourthrow">Einheit</td>
			</tr>
			{% for slice in report.timeslices %}
				<tr class="tbody">
					<td class="firstrow">{{ slice.startedAt|date('d.m.Y') }}</td>
					<td class="secondrow">{{ slice.activity.service.name }}</td>
					<td class="thirdrow number">{{ slice.serializeValue(false) }}</td>
					<td class="fourthrow">{{ slice.activity.rateUnit }}</td>
				</tr>
			{% endfor %}
		</table>
		<div class="title">Gesamt Stunden: {{ report.getSumHours() }}</div>
	</dynamic-page>
</pdf>