<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-props="region:'leading', splitter:true, minSize:20"
     style="width: 300px;" id="leftAccordion">
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:true, title:"Zeiterfassung"'>
		<div class="dimeMenu" data-dojo-type="dijit.Menu">
			<div data-dojo-type="dijit.MenuItem">
				<span>Stundenzettel Monat</span>
				<script type="dojo/on" data-dojo-event="click">
					app.addTab("contentTabs", '{{ path('frontend_timetrack_personal_month') }}', "Stundenzettel", true);
				</script>
			</div>
			<div data-dojo-type="dijit.MenuItem">
				<span>Stundenzettel Woche</span>
				<script type="dojo/on" data-dojo-event="click">
					app.addTab("contentTabs", '{{ path('frontend_timetrack_personal_week') }}', "Stundenzettel", true);
				</script>
			</div>
			<div data-dojo-type="dijit.MenuItem">
				<span>Stundenzettel Tag</span>
				<script type="dojo/on" data-dojo-event="click">
					app.addTab("contentTabs", '{{ path('frontend_timetrack_personal_day') }}', "Stundenzettel", true);
				</script>
			</div>
		</div>
	</div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:false, title:"Offerte"'>
        <div class="dimeMenu" data-dojo-type="dijit.Menu">
            <div data-dojo-type="dijit.MenuItem">
                <span>Offerten</span>
                <script type="dojo/on" data-dojo-event="click">
					app.addTab("contentTabs", '{{ path('frontend_offers_view') }}', "Offerten", true);
				</script>
            </div>
        </div>
    </div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:false, title:"Services"'>
		<div class="dimeMenu" data-dojo-type="dijit.Menu">
			<div data-dojo-type="dijit.MenuItem">
				<span>Services</span>
				<script type="dojo/on" data-dojo-event="click">
					app.addTab("contentTabs", '{{ path('frontend_services_view') }}', "Services", true);
				</script>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='selected:false, title:"Benutzer"'>
		<div class="dimeMenu" data-dojo-type="dijit.Menu">
			<div data-dojo-type="dijit.MenuItem">
				<span>Benutzerliste</span>
				<script type="dojo/on" data-dojo-event="click">
					app.addTab("contentTabs", '{{ path('frontend_users_view') }}', "Benutzerliste", true);
				</script>
			</div>
		</div>
	</div>
</div>