{# Twig Template #}
{% extends 'form_table_layout.html.twig' %}

{% block form_start -%}
	{% set method = method|upper %}
	{%- if method in ["GET", "POST"] -%}
		{% set form_method = method %}
	{%- else -%}
		{% set form_method = "POST" %}
	{%- endif -%}
	<form data-dojo-type="dime/widget/storeForm" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
	{%- if form_method != method -%}
		<input type="hidden" name="_method" value="{{ method }}" />
	{%- endif -%}
{%- endblock form_start %}

{% block form_end -%}
	{% if not render_rest is defined or render_rest %}
		{{- form_rest(form) -}}
	{% endif -%}
	</form>
{%- endblock form_end %}

{% block form_widget_simple -%}
	{% set type = type|default('text') -%}
	{% set dojotype = dojotype|default('dijit/form/TextBox') -%}
	<input data-dojo-type="{{ dojotype }}" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
	<textarea data-dojo-type="dijit/form/Textarea" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}


{% block choice_widget_collapsed -%}
{#	{% if required and placeholder is none and not placeholder_in_choices and not multiple -%}
		{% set required = false %}
	{%- endif -%}
	#}
	{% if multiple %}
		<select data-dojo-type="dijit/form/MultiSelect" {{ block('widget_attributes') }}>
	{% else %}
		<select data-dojo-type="dijit/form/FilteringSelect" {{ block('widget_attributes') }}>
	{% endif %}
	{#	{% if placeholder is not none -%}
			<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
		{%- endif %}
		#}
		{%- if preferred_choices|length > 0 -%}
			{% set options = preferred_choices %}
			{{- block('choice_widget_options') -}}
			{% if choices|length > 0 and separator is not none -%}
				<option disabled="disabled">{{ separator }}</option>
			{%- endif %}
		{%- endif -%}
		{% set options = choices -%}
		{{- block('choice_widget_options') -}}
	</select>
{%- endblock choice_widget_collapsed %}

{% block checkbox_widget -%}
	<input data-dojo-type="dijit/form/CheckBox" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{% block radio_widget -%}
	<input data-dojo-type="dijit/form/RadioButton" type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget %}

{% block datetime_widget -%}
	{% set dojotype = dojotype|default('dijit/form/DateTextBox') %}
	{{- block('form_widget_simple') -}}
{%- endblock datetime_widget %}

{% block date_widget -%}
	{% set dojotype = dojotype|default('dijit/form/DateTextBox') %}
	{{- block('form_widget_simple') -}}
{%- endblock date_widget %}

{% block time_widget -%}
	{% set dojotype = dojotype|default('dijit/form/TimeTextBox') %}
	{{- block('form_widget_simple') -}}
{%- endblock time_widget %}

{% block number_widget -%}
	{# type="number" doesn't work with floats #}
	{%- set type = type|default('text') %}
	{%- set dojotype = dojotype|default('dijit/form/NumberTextBox')  %}
	{{- block('form_widget_simple') -}}
{%- endblock number_widget %}

{% block integer_widget -%}
	{% set type = type|default('number') %}
	{% set dojotype = dojotype|default('dijit/form/NumberTextBox')  %}
	{{- block('form_widget_simple') -}}
{%- endblock integer_widget %}

{% block money_widget -%}
	{% set dojotype = dojotype|default('dijit/form/CurrencyTextBox') %}
	{{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{%- endblock money_widget %}

{% block button_widget -%}
{% if label is empty -%}
	{%- if label_format is not empty -%}
		{% set label = label_format|replace({
		'%name%': name,
		'%id%': id,
		}) %}
	{%- else -%}
		{% set label = name|humanize %}
	{%- endif -%}
{%- endif -%}
<button data-dojo-type="dijit/form/Button" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}